################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleApplicationForCSharpTutorial/FileContentIndex
/.vs/SampleApplicationForCSharpTutorial/v17/.suo
/BasicOperators/obj/Debug
/ConditionalStatements/obj/Debug
/Constants/obj/Debug
/DataTypes/obj/Debug
/SampleApplicationForCSharpTutorial/obj/Debug
/TypeConversion/obj/Debug
/Variables/obj/Debug
